/**
 * @name Apple Dark
 * @author Solta
 * @version 1.0.0
 * @description Тема с Apple
*/

/*
 * Если вы нашли ошибку или лишний код, напишите мне, контакты выше.
*/

/* ↓ Шрифт ↓ */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap");
/* ↓ Статус пользователя в кружке ↓ */
@import url("https://discordstyles.github.io/SoftX/RadialGlow.css");
/* ↓ Вертикальное расположение аватара, значоков мута микрофона/настроек ↓ */
@import url("https://discordstyles.github.io/SoftX/VerticalUserArea.css"); 
/* ↓ Верхний бар со значком дискорд/поиск/закрыть/свернуть ↓ */
@import url("https://discordstyles.github.io/Addons/windows-titlebar.css");
/* ↓ Основа ↓ */
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/BasicBackground/BasicBackground.theme.css");

:root {
  --background: url("https://So1ta.github.io/Images/apple.jpg"); /* Задний фон (Пометка: если меняете на свой, лучше используйте ссылку как у меня, иначе изображение не загрузится) */
  --font:                       "Inter";      /* Шрифт */
  --transparencyalpha:          0.6;          /* Блюр заднего фона (общего) */
  --transparencycolor:			    0,0,0;				/* Цвет заднего фона (общего) */
	--messagetransparency:			  0;						/* Блюр заднего фона за сообщениями */
	--guildchanneltransparency:		0;						/* Блюр заднего фона доролнительный	*/
	--chatinputtransparency:		  0;				  	/* Блюр заднего фона input чата */
	--memberlisttransparency:		  0.3;					/* Блюр заднего фона участников	*/
	--accentcolor:					      110,110,110;	/* Общий цвет */	
}

.theme-dark {
  --text-normal:        #ffff;      /* Цвет текста в сообщениях */
  --text-muted:         #ffff;      /* Цвет даты сообщения */
  --header-primary:     #ffff;      /* Цвет доп. текста */
  --channels-default:   #ffff;      /* Цвет доп. иконок и текста */      
  --header-secondary:   #ffff;      /* Цвет некоторого текста в настройках */
  --interactive-normal: #ffff;      /* Цвет иконок */
  --interactive-hover:  #ffff;      /* Цвет текста выбранного канала ПРИ НАВЕДЕНИИ МЫШИ либо значков мута микрофона (Имеется ввиду чата или голосового канала) */
  --interactive-active: #ffff;      /* Цвет текста выбранного канала (Имеется ввиду чата или голосового канала) */
  /*--interactive-muted:  #000;       */
  /*--background-primary: #0002;        /* Цвет заднего фона за сообщениями */
  --background-secondary: #000;       /* Цвет доп. элементов */
  --background-secondary-alt: #000;   /* Цвет доп. элементов */
  --background-tertiary: #000;        /* Цвет доп. элементов */
  /*--background-floating: #ffff;       */
}



/* Custom CSS below here / Свой код писать сюда, если добавляете еще что-то*/
